* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.magic {
  background-image: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%), url(../../images/Mashrooms.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.magic__inner {
  text-align: center;
  padding-top: 420px;
  padding-bottom: 70px;
}

.out {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  text-align: left;
}

.left {
  margin-top: 100px;
}

.magic__btn {
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  background: #3B3B3B;
  color: #fff;
  font-size: 1rem;
  position: relative;
  display: inline-flex;
  gap: 10px;
  cursor: pointer;
  width: 151px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.magic__btn:hover {
  transform: scale(1.1);
  background-color: #5A5A5A;
}

.avatar {
  margin-left: 30px;
}

.magic__btn::before {
  content: "";
  position: absolute;
  background-image: url(../../images/Avatar\ \(2\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  left: 15px;
  top: 12px;
}

.magic__title {
  color: #fff;
  font-weight: 600;
  font-size: 51px;
  margin-bottom: 50px;
}

.magic__NFT-btn {
  background-color: #fff;
  padding: 19px 50px 19px 82px;
  border-radius: 20px;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  border: none;
  position: relative;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.magic__NFT-btn:hover {
  transform: scale(1.1);
  background-color: #ddd;
}

.magic__NFT-btn::before {
  content: "";
  position: absolute;
  background-image: url(../../images/Eye.png);
  width: 25px;
  height: 25px;
  left: 45px;
  top: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.timer {
  background: rgba(59, 59, 59, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  font-size: 22px;
  animation: fadeIn 1s ease-in-out;
}

.timer__title {
  color: #fff;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
}

.time {
  display: flex;
  align-items: center;
  gap: 20px;
}

.unit {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  font-family: "Space Mono", monospace;
  color: #fff;
  font-size: 38px;
  max-width: 90px;
}

.label {
  font-size: 15px;
  margin-right: 28px;
}

.label-2 {
  font-size: 15px;
  margin-left: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 1024px) {
  .magic__title {
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 29px;
  }
}
@media only screen and (max-width: 768px) {
  .magic {
    min-height: calc(120vh - 60px);
  }
  .out {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .magic__NFT-btn {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 420px) {
  .timer {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
.creator {
  background-color: #2B2B2B;
}

.creator__inner {
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;
}

.top__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.top__box-text {
  max-width: 790px;
}

.top__title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #fff;
  margin-bottom: 10px;
}

.top__text {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  color: #fff;
}

.top__btn {
  padding: 15px 30px 15px 80px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #A259FF;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}

.top__btn::before {
  content: "";
  position: absolute;
  background-image: url(/images/RocketLaunch.png);
  width: 25px;
  height: 25px;
  left: 40px;
  top: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top__btn:hover {
  background-color: rgba(69, 64, 177, 0.337254902);
  color: #e3e2e2;
  transform: scale(1.1);
}

.creator__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
  max-width: 900px;
  margin: 0 auto;
}

.creator__item {
  background-color: #3B3B3B;
  color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.creator__item:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 15px rgba(162, 89, 255, 0.5);
}

.creator__number {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #2B2B2B;
  color: #858584;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creator__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 10px;
}

.creator__name {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  margin: 10px 0;
}

.creator__sales {
  font-size: 14px;
  color: #858584;
}

.item__text-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.creator__sales-value {
  color: white;
}

@media (max-width: 1024px) {
  .top__box {
    display: flex;
    align-items: center;
  }
  .creator__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 800px;
  }
  .creator__item:nth-child(n+7) {
    display: none;
  }
  .creator__number {
    top: 30px;
    left: 70px;
  }
  .item__out {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .item__subtext-box {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .top__box {
    display: flex;
    align-items: center;
  }
  .creator__number {
    top: 30px;
    left: 40px;
  }
}
@media only screen and (max-width: 566px) {
  .creator__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .item__subtext-box {
    display: flex;
    align-items: center;
  }
  .creator__item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;
    background-color: #3B3B3B;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
  }
  .item__subtext-box {
    display: block;
  }
  .creator__number {
    font-size: 16px;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 55px;
  }
  .creator__avatar {
    width: 60px;
    height: 60px;
    margin: 0;
  }
  .item__text-box {
    margin-top: 0;
    flex-direction: row;
    gap: 5px;
  }
  .creator__name {
    font-size: 18px;
    margin: 0;
    color: #fff;
  }
  .creator__sales {
    font-size: 14px;
    color: #858584;
  }
  .creator__sales-value {
    color: #fff;
    font-weight: bold;
  }
  .creator__item:nth-child(n+6) {
    display: none;
  }
}
@media (max-width: 460px) {
  .creator__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .item__subtext-box {
    display: flex;
    align-items: center;
  }
  .creator__item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;
    background-color: #3B3B3B;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
  }
  .item__subtext-box {
    display: block;
  }
  .creator__number {
    font-size: 16px;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 55px;
  }
  .creator__avatar {
    width: 60px;
    height: 60px;
    margin: 0;
  }
  .item__text-box {
    margin-top: 0;
    flex-direction: row;
    gap: 5px;
  }
  .creator__name {
    font-size: 18px;
    margin: 0;
    color: #fff;
  }
  .creator__sales {
    font-size: 14px;
    color: #858584;
  }
  .creator__sales-value {
    color: #fff;
    font-weight: bold;
  }
  .creator__item:nth-child(n+6) {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .creator__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .item__subtext-box {
    display: flex;
    align-items: center;
  }
  .creator__item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;
    background-color: #3B3B3B;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
  }
  .item__subtext-box {
    display: block;
  }
  .creator__number {
    font-size: 16px;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 50px;
  }
  .creator__avatar {
    width: 60px;
    height: 60px;
    margin: 0;
  }
  .item__text-box {
    margin-top: 0;
    flex-direction: row;
    gap: 5px;
  }
  .creator__name {
    font-size: 18px;
    margin: 0;
    color: #fff;
  }
  .creator__sales {
    font-size: 14px;
    color: #858584;
  }
  .creator__sales-value {
    color: #fff;
    font-weight: bold;
  }
  .creator__item:nth-child(n+6) {
    display: none;
  }
}
@media only screen and (max-width: 820px) {
  .creator__number {
    font-size: 16px;
    width: 25px;
    height: 25px;
    top: 35px;
    left: 50px;
  }
}
@media only screen and (max-width: 412px) {
  .creator__number {
    font-size: 16px;
    width: 25px;
    height: 25px;
    top: 20px;
    left: 50px;
  }
}
.discover {
  background-color: #2B2B2B;
}

.discover__inner {
  padding: 50px 0;
}

.discover__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover__top-title {
  font-family: "Work-Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 10px;
  color: #fff;
}

.discovcer__top-text {
  font-family: "Work-Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.discover__top-btn {
  background-color: #2B2B2B;
  border: 2px #A259FF solid;
  padding: 19px 29px 19px 82px;
  color: #fff;
  border-radius: 20px;
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.9s ease;
}

.discover__top-btn::before {
  content: "";
  position: absolute;
  background-image: url(../../images/Eye.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 45px;
  top: 19px;
  transition: transform 0.5s ease;
}

.discover__top-btn:hover {
  background: linear-gradient(135deg, #721e7c, #561fb6, #0f5cc2);
  color: #ffffff;
  box-shadow: 0 4px 15px rgba(162, 89, 255, 0.5);
  border-color: transparent;
  transition: all 0.9s ease;
  border: none;
}

.discover__top-btn:hover::before {
  transform: scale(1.2);
}

.discover__top-btn:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(162, 89, 255, 0.5);
}

.discover__list {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  margin-top: 60px;
}

.discover__item {
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.discover__item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(216, 62, 255, 0.3), 0 0 10px rgba(99, 22, 243, 0.2);
}

.discover__item-img {
  max-width: 100%;
  border-radius: 20px 20px 0 0;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.discover__item-box {
  padding: 25px 30px;
  background-color: #3B3B3B;
  margin-top: -10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: transform 0.3s ease;
}

.discover__item-title {
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
}

.discover__item-text {
  font-family: "Space-Mono", monospace;
  color: #fff;
  padding-left: 30px;
  font-weight: 400;
  font-size: 16px;
  margin-top: 8px;
  position: relative;
}

.discover__item-text::before {
  content: "";
  position: absolute;
  background-image: url(../../images/Avatar.svg);
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: -3px;
  top: -3px;
}

.item__text-before::before {
  content: "";
  position: absolute;
  background-image: url(../../images/Avatar\ Placeholder.svg);
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: -3px;
  top: -3px;
}

.discover__texts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.discover__item-subspan {
  font-family: "Space Mono", monospace;
  font-size: 10px;
  font-weight: 400;
  color: #858584;
}

.discover__item-subtext {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-top: 5px;
}

.discover__top-btn-2 {
  display: none;
  background-color: #2B2B2B;
  border: 2px #A259FF solid;
  padding-left: 90px;
  padding-right: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  border-radius: 20px;
  position: relative;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: transform 0.5s ease;
}

.discover__top-btn-2::before {
  content: "";
  position: absolute;
  background-image: url(../../images/Eye.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  left: 55px;
  top: 15px;
  transition: transform 0.5s ease;
}

.discover__top-btn-2:hover {
  background: linear-gradient(135deg, #721e7c, #561fb6, #0f5cc2);
  color: #ffffff;
  box-shadow: 0 4px 15px rgba(162, 89, 255, 0.5);
  border-color: transparent;
  transition: all 0.9s ease;
  border: none;
}

.discover__top-btn-2:hover::before {
  transform: scale(1.2);
}

.discover__top-btn-2:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(162, 89, 255, 0.5);
}

@media only screen and (max-width: 1024px) {
  .discover__item:nth-child(3) {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .discover__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .discover__top-box {
    margin-left: auto;
    margin-right: auto;
  }
  .discover__item:nth-child(3) {
    display: block;
  }
  .discover__top-btn {
    display: none;
  }
  .discover__top-btn-2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
}/*# sourceMappingURL=main.css.map */