* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: #2B2B2B;
}

.main__top-h2 {
  color: white;
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__top-text {
  color: white;
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__inner__menu {
  list-style: none;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.main__menu__list-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-top: 15px;
}

.main_menu__list-bottom__h3 {
  color: #fff;
  padding-bottom: 10px;
  width: 330px;
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.main_menu__list-bottom-span {
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  position: relative;
  width: 330px;
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.main_menu__list-bottom-span::before {
  content: "";
  background-image: url(/images/kochatulki.png);
  width: 24px;
  height: 24px;
  position: absolute;
  left: -30px;
}

@media only screen and (max-width: 1528px) {
  .li3 {
    display: none;
  }
}
@media only screen and (max-width: 716px) {
  .li2 {
    display: none;
  }
  .main__top-h2 {
    width: 415px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main__top-text {
    width: 415px;
    height: 39px;
    padding-top: 20px;
    text-align: center;
  }
  .main__menu__list_photo {
    width: 315px;
    height: 315px;
  }
  .main_menu_list-menu_list-img {
    width: 95px;
    height: 95px;
  }
}
.mail {
  background-color: #2B2B2B;
}

.mail__inner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mail__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 60px 0;
  background-color: #3B3B3B;
  border-radius: 20px;
}

.mail__box-email__h2 {
  width: 325px;
  height: 92px;
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
}

.mail__box-email-text {
  font-family: Work Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 35.2px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
  width: 425px;
  height: 70px;
}

.mail__box-email2 {
  margin-top: 30px;
  background-color: white;
  width: 375px;
  height: 60px;
  padding: 16px 0px 16px 20px;
  gap: 12px;
  border-radius: 20px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail__box-email2__input {
  border: none;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  width: 182px;
}

.btn {
  background-color: #A259FF;
  padding: 19px 50px;
  border-radius: 20px;
  color: white;
  border: none;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  position: relative;
  width: 221px;
  display: flex;
  align-items: center;
}

.btn::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(./images/EnvelopeSimple.png);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20px;
}

@media only screen and (max-width: 1273px) {
  .mail__inner {
    width: 934px;
  }
  .mail__boz-img {
    width: 300px;
    height: 280px;
  }
  .mail__box-email {
    width: 350px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .mail__box-email__h2 {
    font-family: Work Sans;
    height: 50px;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
  .mail__box-email-text {
    width: 350px;
    height: 44px;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    padding-top: 0;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
  .mail__box-email2 {
    flex-direction: column;
    background: none;
  }
  .mail__box-email2__input {
    width: 350px;
    height: 46px;
    padding: 12px 20px;
    border-radius: 20px;
  }
  .btn {
    width: 350px;
    height: 46px;
    padding: 12px 20px;
    border-radius: 20px;
    text-align: center;
  }
}
@media only screen and (max-width: 958px) {
  .mail__boz-img {
    width: 315px;
    height: 255px;
  }
  .mail__box {
    background: none;
    flex-direction: column;
    width: 315px;
    align-items: center;
    padding-left: 60px;
  }
  .mail__box-email__h2 {
    font-family: Work Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
  .mail__box-email-text {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px;
    width: 315px;
    height: 44px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
  body {
    overflow: hidden;
  }
  .mail__box-email2 {
    margin-top: 60px;
  }
}
footer {
  background-color: #3B3B3B;
}

.footer__inner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__inner-menu {
  display: flex;
  gap: 115px;
  list-style: none;
}

.footer__menu-list__img {
  margin-bottom: 30px;
}

.footer__menu-list_text {
  width: 238px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 20px;
  color: #CCCCCC;
}

.footer__menu-list_text2 {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 15px;
  color: #CCCCCC;
}

.footer__menu-list__menu {
  list-style: none;
  display: flex;
  gap: 10px;
}

.footer__menu-list_h2 {
  color: #CCCCCC;
  margin-bottom: 30px;
}

.footer__menu-list__text-market {
  color: #CCCCCC;
  margin-bottom: 20px;
}

.footer__menu-list__text-ranking {
  color: #CCCCCC;
  margin-bottom: 20px;
}

.footer__menu-list__text-wallet {
  color: #CCCCCC;
}

.footer__menu-list__h22 {
  color: white;
  margin-bottom: 25px;
}

.footer__menu-list__text-li3 {
  color: #CCCCCC;
  font-family: Work Sans;
  font-size: 16px;
  width: 330px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.footer__box-email2 {
  margin-top: 30px;
  background-color: white;
  width: 375px;
  height: 60px;
  padding: 16px 0px 16px 20px;
  gap: 12px;
  border-radius: 20px;
  opacity: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__box-email2__input {
  border: none;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  width: 182px;
}

.btn {
  background-color: #A259FF;
  padding: 19px 50px;
  border-radius: 20px;
  color: white;
  border: none;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  position: relative;
  width: 221px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1250px) {
  .footer__inner-menu {
    flex-direction: column;
  }
}
@media only screen and (max-width: 405px) {
  .footer__box-email2 {
    flex-direction: column;
    background: none;
    padding-bottom: 50px;
    text-align: center;
  }
  .footer__box-email2__input {
    margin-top: 40px;
    width: 315px;
    height: 46px;
    padding: 16px 20px 16px 20px;
    gap: 12px;
    border-radius: 20px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
  }
  .btn {
    width: 315px;
    height: 46px;
    padding: 16px 20px 16px 20px;
    gap: 12px;
    border-radius: 20px;
    border: 1px 0px 0px 0px;
  }
}/*# sourceMappingURL=main.css.map */