.section {
    background: $bcg-color;
}
.section__wrapper{
    @include d-flex(space-between, 0);
    padding: 80px 0px;
}
.section__title {
    font-size: 67px;
    font-weight: 600;
    line-height: 73.7px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $text-color;
    }
    
    .section__text {
   
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px;
    padding: 20px 0px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $text-color;
    }
    
    .section__btn {
        position: relative;
        padding: 20px 50px;
        margin-bottom: 20px;
        border-radius: 20px;
        background-color: $general-color;
        color: $text-color;
        font-family: 'Work Sans', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 22.4px;
        border: none;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        transition: all 0.3s ease-in-out; /* Smooth hover animatsiyasi */
    }
    .section__btn::before{
        content:  "";
        position: absolute;
        background-image: url("/images/RocketLaunch.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        left: 20px;
    }
    /* Hover effekti */
    .section__btn:hover {
        background-color: $hover-color; /* Tugmani fon rangini o'zgartiramiz */
        transform: scale(1.1); /* Tugmani biroz kattalashtiramiz */
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Soyani qo'shamiz */
        color: $text-color; /* Matn rangini saqlaymiz */
    }
    
    // .section__middle{
    //     width: 408px;
    // }
    .section__menu {
        @include d-flex(start, 32px);
        
        
    }
    
    .section__item {
        //styleName: H4 - Space Mono;
    
    color: $text-color;
    }
    
    .section__link-title {
     
    font-family: Space Mono;
    font-size: 28px;
    font-weight: 700;
    line-height: 39.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    }
    .section__middle{
        padding-right: 0;
    }
    .section__link {
    font-size: 23.99px;
    font-weight: 400;
    line-height: 38.38px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    }
    
    .section__box { 
    }
    
    .section__image {

        max-width: 100%;
    }
    
    .section__latter {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 0px 0px 20px 20px;
    background: $general2-color;
    }
    
    .section__latter-title {
        max-width: 200px;
        font-size: 22px;
        font-weight: 600;
        line-height: 30.8px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: $text-color;
    }
    
    .section__latter-text {
        max-width: 250px;
        margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $text-color;
    padding-left: 36px;
    position: relative;
    }
    .section__latter-text::before{
        content: "";
        position: absolute;
        background-image: url("/images/Avatar\ \(9\).png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        left: 2px;
        top: -2px;
    }
    .secbtn{
        display: none;
    }
    .seclist{
        display: none;
    }
    .secitem{
        display: none;
    }
   

    @media only screen and (max-width: 978px) {
        .section__wrapper{
            @include d-flex(space-between, 0);
        }
        .section__latter{
            max-width: 408px;
        }
        // .section__middle{
        //     margin-right: -100px;
        // }
        .section__title {
            //styleName: H3 - Work Sans;
font-size: 38px;
font-weight: 600;
line-height: 45.6px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

        }
        .section__menu {
        }
        .section__box {
            gap: 30px;
        }
        .section__image{
            max-width: 80%;
        }
        .section__image {
        }
        .section__latter {
        }
        .section__btn {
        }
        .section {
        }
    }
    @media only screen and (max-width: 918px){

        // .section__btn{
        //     display: none;
        // }
        // .section__item{
        //     display: none;
        // }
        // .secbtn{
        //     display: block;
        // }
        // .seclist{
        //     display: block;
        // }
        // .secitem{
        //     display: block;
        // }
        
        // .section__menu{
        //     display: block;
        //     gap: 0;
        // }
    }
    @media only screen and (max-width: 828px){
            .secitem{
                display: none;

            }
            .secbtn{
                display: none;

            }
            .seclist{
                display: none;

            }
    
    }
    @media only screen and (max-width: 733px){
        .section__latter{
            max-width: 345px;
        }
    }
    @media only screen and (max-width:390px) {
        .section {
        }
        .section__menu{
            gap: 0;
        }
        .section__letter-title {
            font-size: 10px;
        }
        .section__item {    
        }
    }